@using GridMvc.Html
@model IEnumerable<DefibrilatorProject.Models.Models.UserProfile>

@{
    ViewBag.Title = "Index Of Users";
}

<h2>Index Of Users</h2>

<p>
    @Html.ActionLink("Create New User", "Register")
</p>
@if (Model != null)
{
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.UserName).Titled("UserName");
        columns.Add(c => c.FirstName).Titled("FirstName");
        columns.Add(c => c.LastName).Titled("LastName");
        columns.Add(c => c.Company.Name).Titled("Company"); 
        columns.Add().Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { UserId = o.UserId }, null).ToHtmlString());
    }).WithPaging(10).Sortable(true)  
}
else
{
    <div>The List Is Empty!</div>
}
