@using GridMvc.Html
@model IEnumerable<DefibrilatorProject.Models.Models.Product>
@{
    ViewBag.Title = "Index Of Products";
}
<h2>Index Of Products</h2>

<p>
    @Html.ActionLink("Create New Product", "Create")
</p>
@if (Model != null) { 
    
@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Name).Titled("Name");
    columns.Add(c => c.Model).Titled("Model");
    columns.Add().Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { ProductId = o.ProductId }, null).ToHtmlString());
}).WithPaging(10).Sortable(true)

}
else
{
    <div>No Products To Display</div>
}
