@using GridMvc.Html
@model IEnumerable<DefibrilatorProject.Models.Models.SoldProduct>

@{
    ViewBag.Title = "Index Of Sold Products";
}

<h2>Index Of Sold Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if(Model != null)
{
    @Html.Grid(Model).Columns(columns =>
    {
            columns.Add(c => c.Product.Name).Titled("Product");
            columns.Add(c => c.Company.Name).Titled("Company");
            columns.Add(c => c.Location).Titled("Location");
            columns.Add(c => c.SoldDate).Titled("SoldDate");
            columns.Add(c => c.StopMaintenance).Titled("StopMaintenance");
            columns.Add().Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { SoldProductId = o.SoldProductId }, null).ToHtmlString());
            columns.Add().Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Maintenance History", "Index", new { ProductId = o.ProductId, CompanyId = o.CompanyId }, null).ToHtmlString());
    }).WithPaging(10).Sortable(true)
}
else
{
    <div>No Products To Display</div>
}

