@using GridMvc.Html
@model IEnumerable<DefibrilatorProject.Models.Models.Company>

@{
    ViewBag.Title = "Index Of Companies";
}

<h2>Index Of Companies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model != null)
{
    @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.Name).Titled("Name").Filterable(true);
                        columns.Add().Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { Id = o.CompanyId }, null).ToHtmlString());
                        columns.Add().Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", new { Id = o.CompanyId }, null).ToHtmlString());
                    }).WithPaging(10).Sortable(true);
    
}
else
{
    <div>No Items To Dosplay!</div>
}
